# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# Editors and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS junk files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Misc
.coverage
.pytest_cache/

*.csv
*.zip